spring-learn/src/main/resources/META-INF/linran-cus.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		    xmlns:tns="https://www.linran.com/custag/linran"
			targetNamespace="https://www.linran.com/custag/linran"
			elementFormDefault="qualified">
	<element name="student">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="email" type="string"/>
			<attribute name="hobby" type="string"/>
		</complexType>
	</element>
</schema>
