spring-learn/src/main/resources/META-INF/linran.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.linran.org/schema/linran"
			elementFormDefault="qualified">
	<!--linran:student-->
	<element name="student">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="email" type="string"/>
			<attribute name="hobby" type="string"/>
		</complexType>
	</element>
</schema>
